textarea {
    width: 90vw;
    height: 100vh;
}

#inputTopics {
    font-size: 125%;
}

#inputTitle {
    font-size: 250%;
    outline: none;
    border: none;
}

#textareaContent {
    margin-top: 10px;
    font-size: 125%;
}

.center {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}